<div ng-controller="UploadController">
    <div class="toolbar">
        <ul style="list-style: none; display: inline">
            <li ng-click="goBack()" class="icon"><i class="fa fa-arrow-left"></i></li>
            <li ng-click="captureImage()" class="icon"><i class="fa fa-camera"></i></li>
            <li ng-click="eraseImage()" class="icon"><i class="fa fa-eraser"></i></li>
        </ul>
    </div>
    <video id="video" autoplay="autoplay"></video>
    <br/>
    <canvas id="canvas"></canvas>
</div>
