.error {
    color: indianred;
    display: inline-block;
}
.success {
    color: forestgreen;
    display: inline-block;
}
.middle {
    text-align: center;
}
.leftColumn {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.mainColumn {
    display: inline-block;
    width: 79%;
}
.productContainer {
    display: inline-block;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    margin: 5px;
}
.productContainer img {
    width: 200px;
    height: 200px;
}
.centered {
    text-align: center;
}
.nav {
    margin-bottom: 10px;
}
.rightJustified {
    text-align: right;
}
.equalWidth {
    display: inline-block;
    width: 150px;
    text-align: right;
    vertical-align: top;
}
.newForm {
    width: 330px;
}
canvas {
    width: 100%;
}
